/* for width 1120px */
@media (max-width: 70em) {
  .grid--4-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* for width 848px */
@media (max-width: 53em) {
  html {
    font-size: 56.25%;
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .outer {
    width: 17.5rem;
    height: 17.5rem;
    /* box-shadow: none;ss */
  }
  .inner {
    width: 13.5rem;
    height: 13.5rem;
  }
}
/* for width 624 */
@media (max-width: 39em) {
  html {
    /* font-size: 56.25%; */
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
    /* justify-content: center;
    align-items: center; */
  }

  /* mobile navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 10000;
  }
  .container {
    position: relative;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    padding-top: 4rem;

    transform: translateX(100%);
    /* display: none; */
    opacity: 0;
    /* make it inaccessible to mouse and keyboard */
    pointer-events: none;
    /* make it invisible to screen-readers */
    visibility: hidden;
    z-index: 1000;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    /* transform: translate(0); */
    transform: translateX(0%);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .contain .icon {
    width: 3.2rem;
  }
  .tech-tags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .links {
    padding-left: 0;
  }
  .skill-level {
    /* margin-left: 3rem; */
  }
}
