/* for width 1120px */
@media (max-width: 70em) {
  .grid--4-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* for width 848px */
@media (max-width: 53em) {
  html {
    font-size: 56.25%;
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* for width 544 */
@media (max-width: 34em) {
  html {
    font-size: 56.25%;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  .contain .icon {
    width: 3.2rem;
  }
  .tech-tags {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .links {
    padding-left: 0;
  }
}
