* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: poppins, sans-serif;
  font-size: 62.5%;
  color: #555;
  scroll-behavior: smooth;
}
/* .overlay {
  width: 50%;
  height: 100vh;
  background-color: #ecf0ff;
} */
.container {
  /* position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 80rem; */
  width: 90%;
  margin: 0 auto;
}
.container .name {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 1rem;
  z-index: 100;
  color: #333;
}
/* .capital {
  color: white;
}
.capital:after {
  content: "eepak";
  color: #333;
} */

/* .name:after {
  position: absolute;
  top: 1.5rem;
  left: 6.9rem;
  width: 4rem;
  height: 4rem;
  content: "";
  background: #3e64ff;
  z-index: -1;
  border-radius: 50%; */
/* top: 50%;
  left: 50%; */
/* transform: translate(-50%, -50%); */
/* } */
/* .container .name::after { */
/* content: "";
  display: block;
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background: #3e64ff;
  z-index: -1;
  /* top: 50%;
  left: 50%; */
/* transform: translate(-50%, -50%); */
/* } */
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  padding: 1rem;
}
.main-nav-list li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #3e64ff;
  border-bottom: 1px solid #3e64ff;
}

/* mobile navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* sticky menu bar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  padding-right: 2rem;
}
.container a img {
  margin-left: 2rem;
  /* padding-top: 1rem; */
}
.introduction {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-heading {
  text-transform: uppercase;
  color: #3e64ff;
}
.heading {
  font-size: 7.5rem;
  font-weight: 700;
}
.designation {
  font-size: 2.4rem;
  font-weight: 700;
}
.typing {
  margin-left: 10px;
  position: relative;
  color: #3e64ff;
}
.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  border-right: 2px solid #333;
  animation: blink 1s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.icon {
  font-size: 3.6rem;
  margin: 2.4rem;
}
.hero-section {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 3.2rem;
  /* gap: 2rem; */
}
.image {
  width: 100%;
}
.primary-intro h1 {
  font-size: 4.8rem;
}
.primary-intro {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

table th {
  text-align: left;
}
.projects-num span {
  color: #3e64ff;
  font-weight: 500;
}
.projects-num .number {
  margin-top: 3.2rem;
  font-size: 2.4rem;
}
.download-cv,
.send-mesg {
  width: 19rem;
  border: none;
  background-color: #3e64ff;
  border-radius: 2.4rem;
  padding: 1rem;
  color: white;
  font-family: inherit;
}
a .download-cv {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 2.4rem;
  cursor: pointer;
}
/* .section-name { */
/* display: flex; */
/* gap/: 1rem; */
/* } */
.contain {
  width: 90%;
  margin: 0 auto;
}
.heading-name {
  font-size: 4rem;
  font-weight: 700;
  margin: 1rem;
  padding: 1rem;
  color: #3e64ff;
}
.contain .icon {
  width: 3%;
  height: 3%;
  /* margin: 1rem; */
}
.edu {
  display: flex;
  font-size: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #eee;
}

.year {
  margin-top: 2.4rem;
  color: #3e64ff;
  font-weight: 600;
}
.course-name {
  font-size: 3.2rem;
  font-weight: 600;
}
.institute {
  font-size: 2.4rem;
  font-weight: 600;
}
.skills {
  margin-left: 2rem;
}
.skills tr {
  font-size: 1.8rem;
  margin: 2rem;
}
.skills tr td {
  padding: 1rem 8rem;
  /* padding: 25% 5%; */
  margin: 3rem;
}
.progress-bars {
  display: flex;
}
.skill {
  width: 18rem;
  height: 18rem;
  /* background-color: red; */
  position: relative;
  margin-left: 10rem;
}
.outer {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  padding: 2rem;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.inner {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(255, 255, 255, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
#number {
  font-weight: 600;
  color: #555;
  font-size: 1.8rem;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 2rem;
  stroke-dasharray: 472;

  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
.expert circle {
  animation: exp 2s linear forwards;
}
.beginner circle {
  animation: beginner 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes anim {
  100% {
    /* 472-472*.65 =165*/
    stroke-dashoffset: 165;
  }
}
@keyframes exp {
  100% {
    /* 472-472=0*/
    stroke-dashoffset: 0;
  }
}
@keyframes beginner {
  100% {
    /* 472-165=307*/
    stroke-dashoffset: 307;
  }
}

.skill {
  margin-bottom: 1.8rem;
}
.skill-level {
  display: flex;
  flex-direction: column;
}
.progress-bars {
  gap: 1.2rem;
  /* text-align: center;
  justify-content: center; */
}
.level {
  margin-left: 12rem;
  font-size: 1.8rem;
  padding-bottom: 2rem;
  text-align: left;
}
.exp .level {
  text-align: right;
}
.projects {
  gap: 4rem;
}
.project-img {
  width: 100%;
}
.project {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  font-size: 1.8rem;
  transition: all 0.4s;
}
.project:hover {
  transform: translateY(-1.2rem);
}
.tech-tags {
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  border-radius: 100px;
  font-weight: 600;
  background-color: #3e64ff;
  text-align: center;
}
.project-name {
  font-size: 2.4rem;
  padding: 0.5rem 2rem;
  font-weight: 600;
}
/* .project p {
  padding: 0.5rem 2rem;
} */
.project ul li {
  margin: 0 1rem 1rem 3rem;
  font-size: 1.8rem;
}

.section-contact {
  margin-bottom: 4.8rem;
}
.contact {
  gap: 3rem;
}
.section-contact p {
  font-size: 1.8rem;
  padding: 2rem;
}
.contact-item {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  text-align: center;
}
.contact-icon {
  width: 3.6rem;
  height: 3.6rem;
  margin-top: 4.8rem;
  z-index: 1;
  color: white;
  background: #3e64ff;
  border-radius: 50%;
  padding: 2rem;
}
.contact-item h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 2rem;
}
.contact-item p {
  color: #777;
}
.website p a {
  text-decoration: none;
  color: #555;
}
.section-message {
  background-color: #f8f9fa;
  gap: 2rem;
  margin-bottom: 4.8rem;
}
.section-message img {
  width: 100%;
}
.section-message input,
.message {
  width: 90%;
  border: 1px solid #b4bfca;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 1rem;
  font-family: inherit;
  font-size: 1.8rem;
}
.message {
  height: 24rem;
}
.send-mesg {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-top: 1.8rem;
}

.section-footer {
  background-color: #192866;
  color: white;
  gap: 3rem;
  padding: 9.6rem;

  padding-bottom: 4.8rem;
}
.heading-footer {
  font-size: 3rem;
  /* text-align: center; */
}
.about p {
  font-size: 1.2rem;
  margin-top: 2rem;
}
.links {
  align-self: center;
  padding-left: 12rem;
}
.links-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.links-footer li a:link,
.links-footer li a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.footer-item {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  align-items: center;
  /* justify-content: center; */
  margin: 2rem;
}
.copyright-message {
  background-color: #192866;
  padding: 3.6rem;
}
.copyright {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  color: white;
}
.copyright-message p a {
  text-decoration: none;
  color: white;
}
